.container2{
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
    padding: 1px;
    margin-top: 200px;
    margin-left: 500px;
    width: 400px;
}

#title1{
    color: gray;
    margin-left: 10px;
}

h3{
    margin-left: 30px;
}
#btn2{
    margin-left: 90px;
}

.input{
    padding: 6px 50px;
    margin-left: 30px;
    box-shadow: 1px 1px 4px gray;
    border: 1px solid gray;
    border-radius: 5px ;
}

#title2{
    color: gray;
    margin-left: 80px;
    
}